<h1>Ver rating</h1>
<ul>
    <li>Fecha: <%= @rating.created_at.to_s %></li>
    <li>Rating: <%= @rating.rating%></li>
    <li>User: <%= @rating.username%></li>
    <li>Movie: <%= @rating.title%></li>
</ul>