<h1>Top10#index</h1>
<p>Find me in app/views/top10/index.html.erb</p>
<ul>
    <% @top10.each do |movie| %>
        <li>Título: <%= movie['title']%>, Rating: <%= movie.rating%></li>
    <% end %>
</ul>

    
