<h1>Listing movies and ratings</h1>
 
<table>
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Rating</th>
    <th></th>
  </tr>
 
  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.user_id %></td>
      <td><%= movie.rating %></td>
    </tr>
  <% end %>
</table>

